.link {
  text-decoration: none;
}

.published-at-bulletin-1 {
  padding: 0px;
  margin: 0px;
}

@media screen and (max-width: 566px) {
  .published-at-bulletin-1 {
    padding-left: 30px;
  }
}

@media screen and (min-width: 567px) {
  .published-at-bulletin-1 {
    padding-left: 0px;
    margin-top: 5px;
    display: flex;
    align-items: center;
  }
}
